<h1> My Feed </h1>
<% @posts.each do |x| %>
  <div class = "white">
    <%= image_tag x.image.url(:medium) %>
    <br>
    <%= x.description %>
  </div>
<% end %>
<% if @posts.length == 0 %>
<h2> Nothing to show! </h2>
<% end %>